<div class="search-users">
  <input ngModel id="ser" style="margin-left:300px; margin-bottom: 20px; margin-top: 20px;" class="form-control w-50" type="text" name="search" [(ngModel)]="searchText" placeholder="Search  Users" >
</div>
<br>
<br>
<br>

<table class="table table-dark" id="ddd">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom Pharmacie</th>
        <th scope="col">Adresse</th>
        <th scope="col">MAP</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of postion | filter: searchText">
        <th>{{u.id}}</th>
        <th>{{u.nomPharmacie}}</th>
        <th>{{u.adresse}}</th>
        <th><button type="button" class="btn btn-outline-success"  (click)="getPosByName(u.id)"
          >MAP</button>
        </th>
      </tr>
      <tr>
    </tbody>
  </table>
<agm-map *ngIf="this.pharmaa" >
  <agm-marker   *ngFor="let uu of this.pharmaa " [latitude]="uu.x" [longitude]="uu.y"></agm-marker>
</agm-map> 
<agm-map  >
  <agm-marker  *ngFor="let uu of this.postion " [latitude]="uu.x" [longitude]="uu.y"></agm-marker>
</agm-map> 
<p>hhhh</p>

